/* 
    Copyright
*/
.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*
    Custom CSS Reset

*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html,
body {
    height: 100%;
    font-family: "Montserrat";
}

body {
    /* line-height: 1.5; */
    -webkit-font-smoothing: antialiased;
    background-color: hsl(240, 78%, 98%);
    font-size: 15px;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    text-align: center;
}

#root,
#__next {
    isolation: isolate;
}

/* 
Styles
*/

input,
button {
    display: block;
    margin: 0 auto;
    cursor: pointer;
}


body {
    line-height: 28px;
    background-image:
        url('./images/bg-top.svg');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: auto;
    overflow: hidden;
}

hr {
    border: 1px solid hsla(233, 13%, 49%, .25);
    margin: 12px 0;
}

h1 {
    line-height: 39px;
}

h1,
h3,
p,
span {
    color: hsla(233, 13%, 49%, 1);
}

h2 {
    color: hsl(232, 13%, 33%);
    font-size: 72px;
    line-height: 71px;
    letter-spacing: -2.16px;
}



main {
    width: 375px;
    height: 1750px;
    margin-top: 0;
    margin: auto;
    animation: fade .5s ease-in;
    opacity: 1;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    25% {
        opacity: .25;
    }

    50% {
        opacity: .5;
    }

    75% {
        opacity: .75;
    }

    100% {
        opacity: 1;
    }
}

header {
    margin: 64px 68px 0;
    width: 239px;
}

header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.switch {
    position: relative;
    width: 56px;
    height: 32px;
    float: right;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}


.slider {
    position: absolute;
    cursor: pointer;
    display: block;
    width: 56px;
    height: 32px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 25px;
    background-image: linear-gradient(-180deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));

}

.slider::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: #fff;
    top: 4px;
    right: 4px;
    -webkit-transition: .4s;
    transition: .4s;
}



.switch input:checked+.slider:before {
    -webkit-transform: translateX(-26px);
    -ms-transform: translateX(-26px);
    transform: translateX(-26px);
}



.cards {
    display: flex;
    flex-flow: row wrap;
    width: 327px;
    justify-content: center;
    align-items: center;
    margin: 80px 24px 71px;

}



.card {
    width: 327px;
    height: 453px;
    padding: 31px 29px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 20px 40px 0px hsla(234,
            14%,
            74%, .5);
    transition: transform 0.25s;

}

.card:hover {
    transform: scale(1.025);
}

.card:nth-child(2) {
    background-image: linear-gradient(-180deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    margin-top: 32px;
    margin-bottom: 32px;
}



.card:nth-child(2) p,
.card:nth-child(2) h3,
.card:nth-child(2) h2 {
    color: white;
}


.card:nth-child(2) hr {
    border: 1px solid hsla(0, 0%, 100%, .25);

}

.price {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 22px;
    gap: 7.5px;
}



.price>h2:first-child {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: -1.2px;

}

.card>div {
    width: 269px;
}

.card input {
    appearance: none;
    margin: 22px auto 0px;
    width: 269px;
    height: 44px;
    border-radius: 6px;
    border: 0;
    background-image: linear-gradient(-180deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: 1.4px;
}

.card input:hover {
    background-image: linear-gradient(-180deg, hsl(237,
                63%,
                64%), hsl(237, 63%, 64%));
}



.card:nth-child(2) input {
    color: hsl(237, 63%, 64%);
    background-image: unset;
    background-color: white;
}

.card:nth-child(2) input:hover {
    background-color: hsl(237, 63%, 64%);
    color: white;
    background-color: unset;
    border: 2px solid white;
}


.attribution {
    position: absolute;
    bottom: 10px;
    height: 15px;
    margin-left: 50px;

}

@media only screen and (min-width: 850px) {
    body {
        line-height: 28px;
        background-image:
            url('./images/bg-top.svg'),
            url('./images/bg-bottom.svg');
        background-repeat: no-repeat;
        background-position: top right, left bottom;
        background-size: auto;
    }

    h2 {
        font-size: 60px;
    }

    main {
        width: 810px;
        height: 1000px;
        margin-top: 0;
        margin: auto;
    }

    header {
        margin: 64px 285.5px 0;
        width: 239px;
    }

    .cards {
        display: flex;
        flex-flow: row wrap;
        width: 810px;
        justify-content: center;
        align-items: center;
        margin: 64px auto;
    }

    .card {
        width: 270px;
        height: 453px;
        padding: 31px 15px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0px 20px 40px 0px hsla(234,
                14%,
                74%, .5);
    }

    .card:nth-child(2) {
        height: 501px;
        margin-top: 0;
        margin-bottom: 0;
        /* padding: 55px 31px; */
    }

    .card>div {
        width: 240px;
    }

    .card input {
        width: 240px
    }
}


@media only screen and (min-width: 1100px) {

    body {
        line-height: 28px;
        background-image:
            url('./images/bg-top.svg'),
            url('./images/bg-bottom.svg');
        background-repeat: no-repeat;
        background-position: top right, left bottom;
        background-size: auto;
    }

    h2 {
        font-size: 72px;
    }

    main {
        width: 1050px;
        height: 850px;
    }

    header {
        margin: 71px auto 0;
    }

    .cards {
        width: 1050px;
        margin-top: 64px
    }

    .card {
        width: 350px;
        height: 453px;
        padding: 31px;
    }

    .card:nth-child(2) {
        height: 501px;
        margin-top: 0;
        margin-bottom: 0;
        padding: 55px 31px;
    }


    .price {
        margin-bottom: 32px;
    }

    .card>div {
        width: 288px;
    }

    .card input {
        appearance: none;
        margin: 32px auto 0px;
        width: 288px;
    }
}